<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SpringDemo</display-name>
	<!-- <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list> -->

	<servlet>
	
	<!-- This Servlet Acts as a front Controller when call is made through browser. -->
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<!-- Init-param is just like a  variable which can be accesed only within scope of this servlet. 
		This is mostly declared whenever we need a variable that chages very seldom  -->
		<init-param>
			<param-name>contextConfiguration</param-name>
			<param-value>/WEB-INF/spring-servlet.xml</param-value>

		</init-param>
	<!-- 	Maintains the sequence of loading inside servlet container by the container. -->
		<load-on-startup>1</load-on-startup>
	</servlet>

 <servlet-mapping>
  <servlet-name>spring</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>